.form__select {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1em;
  padding: 11.5px 15px 15px;
  padding-left: 10px;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  background: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  cursor: pointer;
}

.form__select:focus {
  border-bottom: 1px solid #999;
}
