.form__submit {
  width: 180px;
  padding: 12.5px;
  color: #333;
  font-weight: 700;
  font-size: 15px;
  font-family: Montserrat, sans-serif;
  background: #fff;
  border: 0;
  border-radius: 25px;
  outline: none;
  box-shadow: 0 6px 17px 0 rgb(0 0 0 / 15%);
  cursor: pointer;
}

.form__submit:hover {
  background: #ccc;
}
