.form__checkbox__elem1 {
  width: 0;
  height: 0;
  cursor: pointer;
  opacity: 0;
}

.form__checkbox__elem2 {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #e5e5e5;
}

.form__checkbox__elem2::after {
  position: absolute;
  display: none;
  content: "";
}

.form__checkbox__elem1:checked ~ .form__checkbox__elem2::after {
  display: block;
}

.form-contact-terms .form__checkbox__elem2::after {
  top: 1px;
  left: 5px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
